@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
/* @import url('http://fonts.cdnfonts.com/css/arial'); */

body {
  @apply bg-white;
}

@font-face {
  font-family: 'ethnocentric';
  src: url('../../static/fonts/ethnocentric_rg-webfont.woff2') format('woff2'),
       url('../../static/fonts/ethnocentric_rg-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
